# dependencies
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
yarn-eclipse.js
yarn.lock
package-lock.json

# build artifacts
*.log
*.map
*.sublime-workspace
.nyc_output
.sass-cache
.tmp
.cache
.env
.DS_Store
dist
build
coverage